{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta itemprop="name" content="SearchPokemon" />
  
  <meta itemprop="description" content="Alpha coders | This will gonna be all new learning experience."">

  <meta itemprop="image" content="https://rawgit.com/vaibsharma/PokemonSearch/master/Screenshot%20from%202016-08-28%2005:00:37.png">

  <meta property="og:title" content="SearchPokemon"/>
  <meta property="og:description" content="Alpha coders | This will gonna be all new learning experience.""/>
  <meta property="og:image" content="https://rawgit.com/vaibsharma/PokemonSearch/master/Screenshot%20from%202016-08-28%2005:00:37.png"/> 
  <meta property="og:site_name" content="enigmatic-basin-68757.herokuapp.com"/> 

  <meta property="og:url" content="enigmatic-basin-68757.herokuapp.com" />
  <meta property="article:author" content="http://facebook.com/techobist" />
  <meta property="article:publisher" content="https://www.facebook.com/techobist"/>
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@HRmVaib" />
  <meta name="twitter:title" content="SearchPokemon" />
  <!-- <meta name="twitter:description" content="" /> -->
  <meta name="twitter:description" content="Alpha coders | This will gonna be all new learning experience."" />
  <meta name="twitter:image" content="https://rawgit.com/vaibsharma/PokemonSearch/master/Screenshot%20from%202016-08-28%2005:00:37.png" />
          


<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

{% block title %}

{% endblock %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


 <link rel="stylesheet" href="https://cdn.rawgit.com/HackIITD/Template-for-Django-Portal/master/staticfiles/css/bootstrap-theme.min.css" crossorigin="anonymous">
       <link rel="stylesheet" href="https://cdn.rawgit.com/HackIITD/Template-for-Django-Portal/master/staticfiles/css/bootstrap.min.css" crossorigin="anonymous">
       <link rel="shortcut icon" href="https://cdn.rawgit.com/HackIITD/Template-for-Django-Portal/master/staticfiles/images/favicon.ico" type="image/x-icon">
       <link rel="icon" href="https://cdn.rawgit.com/HackIITD/Template-for-Django-Portal/master/staticfiles/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://cdn.rawgit.com/HackIITD/Template-for-Django-Portal/master/staticfiles/assets/animate/animate.css" crossorigin="anonymous"> 
       <link rel="stylesheet" href="https://cdn.rawgit.com/HackIITD/Template-for-Django-Portal/master/staticfiles/assets/animate/set.css" crossorigin="anonymous"> 
       <link rel="stylesheet" href="https://cdn.rawgit.com/HackIITD/Template-for-Django-Portal/master/staticfiles/assets/gallery/blueimp-gallery.min.css" crossorigin="anonymous">
       
       <link rel="stylesheet" href="https://cdn.rawgit.com/HackIITD/Template-for-Django-Portal/master/staticfiles/assets/style.css" crossorigin="anonymous">

{% block link %}
{% endblock %}

</head>

<body>

{% block style %}
 
 {% endblock %} 


 {% block content %}

 {% endblock %}

 
 <script src="https://cdn.rawgit.com/HackIITD/Template-for-Django-Portal/master/staticfiles/assets/jquery.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- jquery mobile -->



<script src="https://cdn.rawgit.com/HackIITD/Template-for-Django-Portal/master/staticfiles/assets/wow/wow.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/HackIITD/Template-for-Django-Portal/master/staticfiles/assets/mobile/touchSwipe.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/HackIITD/Template-for-Django-Portal/master/staticfiles/assets/respond/respond.js" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/HackIITD/Template-for-Django-Portal/master/staticfiles/assets/gallery/jquery.blueimp-gallery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/HackIITD/Template-for-Django-Portal/master/staticfiles/assets/script.js" crossorigin="anonymous"></script>
{% block script %}
 {% endblock %}

 </body>
</html>