<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">

    <title></title>
    
    <meta name="description" content="Alpha coders | This will gonna be all new learning experience."/>
<!-- 
    {% load staticfiles %}
    <link rel="rel"
          type="image/ico"
          href="{% static 'favicon.ico' %}"> -->
  <link rel="shortcut icon" href="https://cdn.rawgit.com/vaibsharma/PokemonSearch/master/static/favicon.ico" type="image/x-icon" />

  <meta itemprop="name" content="SearchPokemon" />
  
  <meta itemprop="description" content="Alpha coders | This will gonna be all new learning experience."">

  <meta itemprop="image" content="https://rawgit.com/vaibsharma/PokemonSearch/master/Screenshot%20from%202016-08-28%2005:00:37.png">

  <meta property="og:title" content="SearchPokemon"/>
  <meta property="og:description" content="Alpha coders | This will gonna be all new learning experience.""/>
  <meta property="og:image" content="https://rawgit.com/vaibsharma/PokemonSearch/master/Screenshot%20from%202016-08-28%2005:00:37.png"/> 
  <meta property="og:site_name" content="enigmatic-basin-68757.herokuapp.com"/> 

  <meta property="og:url" content="enigmatic-basin-68757.herokuapp.com" />
  <meta property="article:author" content="http://facebook.com/techobist" />
  <meta property="article:publisher" content="https://www.facebook.com/techobist"/>

  

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@HRmVaib" />
  <meta name="twitter:title" content="SearchPokemon" />
  <!-- <meta name="twitter:description" content="" /> -->
  <meta name="twitter:description" content="Alpha coders | This will gonna be all new learning experience."" />
  <meta name="twitter:image" content="https://rawgit.com/vaibsharma/PokemonSearch/master/Screenshot%20from%202016-08-28%2005:00:37.png" />
          
  <meta name="viewport" content="width=320, initial-scale=1" />




        
        

    
    
    


    <style type="text/css">


    </style>
   {% block style %}{% endblock %}    
    
  </head>

  <!-- <body>

    <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
<div class="row">
<div class="col-md-12 col-xs-12">
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <img src="http://img08.deviantart.net/860a/i/2012/308/0/b/__hd___pokemon_logo___hd___by_peetzaahhh2010-d5k08gz.png"></img>
      <ul class="nav navbar-nav">
        <li class="active" id="search1"><a href="#" >Search<span class="sr-only">(current)</span></a></li>
        <li id="add"><a href="#" >Add</a></li>
        
          <li class="dropdown">
         
    <a class="dropdown-toggle" type="button" data-toggle="dropdown">Fun
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a id="game" href="#">Start with Pokemons</a></li>
      
    </ul>
  

         </li>
         </ul>
           <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Help</a></li>
           
        
      </ul>
    </div> --><!-- /.navbar-collapse -->
  <!-- </div>
</nav>
</div>
</div> -->
<!-- {% block Content %}{% endblock %} -->


<!-- {% block images %}{% endblock %} -->
<!-- Latest compiled and minified JavaScript -->




    <script src='js/jquery.min.js'></script>

  <script src="js/bootstrap.min.js"></script>

 <!--  <script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>  -->

    <script type="text/javascript">
   /*  var data = {        
 "background_change":function(){
   $("html body").css("background-color","#ffe082");
   $("nav").css("background-color","#f57f17");
 },
 "ListJS":function(){
   var options = {
  valueNames: [ 'images', 'name' ]
};

var userList = new List('users', options);
 },
  "Basehtmljs":function(){
      $(".Text").typed({
        strings: ["Hello Pokemon Geeks ","Presenting","Pokemon Kingdom" ,"Are you ready ?","So Count","3","2","1","Let's The Battle Begin !"],
        typeSpeed: 30, // typing speed
            backDelay: 750,
      });
 

  }
};
$(document).ready(function(){
  data.background_change() ;
  
  $('#search1').click(function(){
    window.location.href = '/search';
  });
   $('#add').click(function(){
    window.location.href = '/add';
  });
  $('.dropdown-toggle').on("click",function(){
    $("#game").on("click",function(){
        window.location.href = '/fun/game';
    });
  })
   window.fbAsyncInit = function() {
    FB.init({
      appId      : '1388033961226070',
      xfbml      : true,
      version    : 'v2.7',
      status      : true
    });

    function onLogin(response) {
  if (response.status == 'connected') {
    FB.api('/me?fields=first_name', function(data) {
      
    });
  }
}

FB.getLoginStatus(function(response) {
  // Check login status on load, and if the user is
  // already logged in, go directly to the welcome message.
  if (response.status == 'connected') {
    onLogin(response);
  } else {
    // Otherwise, show Login dialog first.
    FB.login(function(response) {
      onLogin(response);
    }, {scope: 'user_friends, email'});
  }
});

    // ADD ADDITIONAL FACEBOOK CODE HERE
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  
  });      
    
  


        </script>
{% block scripts %}{% endblock %}
    
    
  </body>
</html>
