<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>api</title>
       
 </head>

  <body>
<!--   <div class="status">
  {{status}}
  </div>
  <div class="data">
  {% for x in data %}
   <ul class="table">
      <li class="ranking">
      {{x.ranking}}
      </li>
      <li class="password">
      {{x.password}}
      </li>
      <li class="name">
      {{x.name}}
      </li>
      <li class="student_id">
      {{x.student_id}}
      </li>
      <li class="mobile_no">
      {{x.mobile_no}}
      </li>
      <li class="school_name">
      {{x.school_name}}
      </li>
   </ul>
   {% endfor %}

  </div> -->
  {{data}}
  </body>
</html>
